@charset "utf-8";

:root{
	--co01: #12A0DD;
}

/* PC */
@media only screen and (min-width: 960px) {

.web		{display:block !important;}
.mobile		{display:none;}
.tablet		{display:none;}

body {margin-top:80px;}

header {width: 100%; height: 80px; border-bottom: 1px solid #eee; background:#fff; position: fixed; top:0; left: 0; z-index: 1000;}
#header {width: 100%; max-width:1665px; height: 100%; margin: 0 auto; display: flex; flex-wrap:wrap; gap:40px; align-items:center;}
#header h1 {}
#header h1 a.logo {display: block; width: 130px; height: 36px; background: url(../_img/pc/comn/logo.svg)no-repeat center;}
#header ul.gnb {display: flex; align-items:center; gap:30px; height:100%;}
#header ul.gnb li {position:relative;}
#header ul.gnb li a {font: 500 16px / 26px "Pretendard", "Noto Sans KR", sans-serif; color: #111;}
#header ul.gnb li.on a {color: var(--co01);}
#header ul.gnb li .gnb_sub {display: none; position:absolute; top: 35px; left: 50%; transform:translateX(-50%); min-width:140px; background: #fff; padding: 15px 20px; border-radius: 10px; border: 1px solid #eee;}
#header ul.gnb li .gnb_sub ul.sub_menu {}
#header ul.gnb li .gnb_sub ul.sub_menu li {}
#header ul.gnb li .gnb_sub ul.sub_menu li:not(:last-child) {margin-bottom:10px;}
#header ul.gnb li .gnb_sub ul.sub_menu li a {font: 400 15px / 15px "Pretendard", "Noto Sans KR", sans-serif; color: #888; transition: .3s;}
#header ul.gnb li .gnb_sub ul.sub_menu li:hover a {color: #111;}
#header .h_right {display:flex; align-items: center; gap:30px; margin-left: auto;}
#header .h_right .s_wrap {width:300px; background: #f3f3f3; border-radius: 50px; padding: 15px 20px; display: flex; flex-wrap:wrap; align-items:center; justify-content:space-between;}
#header .h_right .s_wrap input[type="search"] {width: calc(100% - 28px); padding-right: 10px; background: none; border: none; font: 300 15px / 15px "Pretendard", "Noto Sans KR", sans-serif; color:#111;}
#header .h_right .s_wrap input[type="search"]::placeholder {font: 300 15px / 15px "Pretendard", "Noto Sans KR", sans-serif; color: #888;}
#header .h_right .s_wrap input[type="search"]::-webkit-search-cancel-button {display: none;}
#header .h_right .s_wrap .s_btn {display: block; font-size: 0; width: 18px; height: 18px; border: none; background: url(../_img/pc/comn/search_ico.svg)no-repeat center;}
#header .h_right .login_wrap {}
#header .h_right .login_wrap a {font: 700 16px / 26px "Pretendard", "Noto Sans KR", sans-serif; color: var(--co01);}

#tm_header {display: none;}
#tm_bt_header {display: none;}
.tm_sch_wrap {display: none;}

.chat_bot {}
.chat_bot a {position:fixed; bottom:50px; right:40px; z-index: 100;}
.chat_bot a > img {}

.chat_pop{display: none;position: fixed; bottom:50px; right:40px;z-index: 500;}
.chat_pop .pop_box{position: absolute; bottom:70px; right:0px; opacity: 0;}
.chat_pop.on .pop_box {opacity: 1; border-radius:20px;}
.chat_pop .pop_box .chat {padding: 14px; border-radius: 0 0 20px 20px; background:#fff; border: 1px solid #ddd;}
.chat_pop .pop_box .btn_box{display: flex;justify-content: space-between; align-items:center; background:#474747; padding: 15px 20px; border-radius: 20px 20px 0 0;}
.chat_pop .pop_box .btn_box p.chat_tit {font: 400 15px / 25px "Pretendard", "Noto Sans KR", sans-serif; color:#fff;}
.chat_pop .pop_box .btn_box button.close_btn {border: none; background: none; cursor:pointer;}
.chat_pop .pop_box .btn_box button.close_btn img {background: none; width: 15px; height: 15px;}
.chat_pop .pop_box .chat_box {width: 340px; min-height: 420px; border-radius: 0 0 20px 20px;}
.chat_pop .pop_box .chat_box .tok {display: flex; flex-wrap:wrap; gap: 8px; align-items:center;}
.chat_pop .pop_box .chat_box .tok .tok_icon {}
.chat_pop .pop_box .chat_box .tok .tok_icon img {width:35px; height:35px;}
.chat_pop .pop_box .chat_box .tok > span {font: 400 14px / 20px "Pretendard", "Noto Sans KR", sans-serif; color:#555;}
.chat_pop .pop_box .chat_box p.gt {padding: 10px 14px; background: #f7f7f7; border-radius: 10px; font: 300 13px / 20px "Pretendard", "Noto Sans KR", sans-serif; color:#444; width:calc(100% - 45px); margin-left: auto;}
.chat_pop .pop_box .chat_box p.gt:not(:last-child) {margin-bottom: 10px;}
.chat_pop .pop_box .chat_box p.gt_q {background: #e8f6fc; color:#111;}
.chat_pop .pop_box .chat_ip {width: 100%; border-radius: 50px; padding: 10px 15px; background: #e8f6fc; border: none; display: flex; flex-wrap:wrap; align-items:center; justify-content:space-between;}
.chat_pop .pop_box .chat_ip input[type="text"] {width: calc(100% - 30px); border:none; background: transparent; font: 400 14px / 24px "Pretendard", "Noto Sans KR", sans-serif; color:#555;}
.chat_pop .pop_box .chat_ip .send {cursor: pointer; font-size: 0; border: none; width: 20px; height: 20px; background: url(../_img/pc/comn/chat_send_ico.svg)no-repeat center;}

footer {border-top: 1px solid #eee; z-index: 5000;}
#footer {width: 100%; max-width:1665px; height:100%; margin: 0 auto; padding: 50px 0;}
#footer h1 {}
#footer h1 a.ft_logo {display: block; width: 130px; height: 36px; background: url(../_img/pc/comn/ft_logo.svg)no-repeat center;}
#footer .ft_info {margin-top: 25px; display: flex; flex-wrap:wrap; justify-content:space-between;}
#footer .ft_left {}
#footer .ft_left .ft_txt {}
#footer .ft_left .ft_txt p {display: inline-block; font: 300 15px / 25px "Pretendard", "Noto Sans KR", sans-serif; color: #666;}
#footer .ft_left  p.copy {font: 300 14px / 14px "Pretendard", "Noto Sans KR", sans-serif; color: #666; margin-top: 12px;}
#footer .ft_left .ft_txt > em {position:relative; padding: 0 12px;}
#footer .ft_left .ft_txt > em:after {position:absolute; content:''; top: 5px; width: 1px; height: 10px; background: #ddd;}
#footer .ft_left .ft_txt > i {display: block;}
#footer .ft_right {display: flex; flex-direction:column; justify-content:space-between;}
#footer .ft_right ul.privacy {display: flex; flex-wrap:wrap; justify-content:flex-end; gap: 20px;}
#footer .ft_right ul.privacy li {}
#footer .ft_right ul.privacy li a {display: block; font: 400 15px / 15px "Pretendard", "Noto Sans KR", sans-serif; color: #666;}
#footer .ft_right ul.privacy li a.point {color:#111; font-weight: 600;}
#footer .ft_right ul.ft_btn {font-size: 0; text-align:right;}
#footer .ft_right ul.ft_btn li {display: inline-block; vertical-align:middle; text-align:right;}
#footer .ft_right ul.ft_btn li:not(:first-child) {margin-left: 10px;}
#footer .ft_right ul.ft_btn li:nth-child(3) {margin-left: 20px;}
#footer .ft_right ul.ft_btn li a {display: block;}
#footer .ft_right ul.ft_btn li a.btn01 {font: 300 15px / 20px "Pretendard", "Noto Sans KR", sans-serif; color:#999; padding: 9px 15px; border: 1px solid #ddd; border-radius: 10px;}

}

@media only screen and (min-width: 1441px) and (max-width: 1700px) {

#header {padding: 0 40px; max-width:100%;}
#footer {padding: 50px 40px; max-width:100%;}

.chat_pop .pop_box {bottom:110px;}
.chat_bot a {bottom:80px;}

}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {

#header {padding: 0 40px;}
#header h1 {}
#header ul.gnb {display: flex; align-items:center; gap:20px; height:100%;}
#header .h_right {gap:20px;}

.chat_bot a {bottom:60px;}
.chat_pop .pop_box {bottom:90px;}

.chat_pop .pop_box .chat_box {min-height: 340px;}

#footer {padding: 40px;}
#footer h1 {}
#footer .ft_info {margin-top: 25px; display: flex; flex-wrap:wrap; justify-content:space-between; gap:30px;}
#footer .ft_left {width: 100%;}
#footer .ft_right {width: 100%; display: flex; flex-direction:column; justify-content:space-between; gap:20px;}
#footer .ft_right ul.privacy {justify-content:flex-start;}
#footer .ft_right ul.ft_btn {font-size: 0; text-align:left;}


}

@media only screen and (min-width: 960px) and (max-width: 1024px) {

#header {padding: 0 30px; gap: 20px;}
#header h1 {}
#header ul.gnb {display: flex; align-items:center; gap:20px; height:100%;}
#header .h_right {gap: 20px;}

.chat_bot a {bottom:40px; right:30px;}

#footer {padding: 40px 30px;}
#footer h1 {}
#footer .ft_info {margin-top: 25px; display: flex; flex-wrap:wrap; justify-content:space-between; gap:30px;}
#footer .ft_left {width: 100%;}
#footer .ft_right {width: 100%; display: flex; flex-direction:column; justify-content:space-between; gap:20px;}
#footer .ft_right ul.privacy {justify-content:flex-start;}
#footer .ft_right ul.ft_btn {font-size: 0; text-align:left;}

}


/* Tablet */
@media only screen and (min-width: 640px) and (max-width: 959px) {

.tablet		{display:block !important;}
.mobile		{display:none;}
.web			{display:none;}

body {margin-top:70px;}

#header {display: none;}
#tm_header {position: fixed; top:0; padding: 0 20px; width:100%; height: 70px; background: #fff; border-bottom: 1px solid #ddd; z-index: 200;}
#tm_header .tm_h_wrap {display: flex; flex-wrap: wrap; justify-content:space-between; align-items:center; height: 70px;}
#tm_header .tm_h_wrap h1 {}
#tm_header .tm_h_wrap h1 a.logo {display: block; width: 120px; height: 38px; background: url(../_img/pc/comn/logo.svg)no-repeat center / contain;}
#tm_header .tm_h_wrap .tm_right .s_wrap {}
#tm_header .tm_h_wrap .tm_right .s_wrap a {display: block; font-size: 0; width: 22px; height: 22px; border: none; background: url(../_img/pc/comn/search_ico.svg)no-repeat center / 22px;}
#tm_header .tm_h_wrap .tm_right .ham {}
#tm_header .tm_h_wrap .tm_right {display: flex; flex-wrap:wrap; gap: 25px; align-items:center;}
#tm_header .tm_h_wrap .tm_right .ham a.navi_btn {display: block; font-size: 0; width: 22px; height: 18px; border: none; background: url(../_img/ta/comn/ham.svg)no-repeat center / contain;}
#tm_header .navi {display: none;}

#tm_header.on {width: 100%; height: 100%; padding: 0 20px;}
#tm_header.on .tm_right {display:none;}
#tm_header.on .navi {}
#tm_header .navi .lnb {position: fixed; top: 0; left: auto; right:0; bottom:0; width:100%; height:100%; z-index: 200; background: #fff;}
#tm_header .navi .lnb .nv_h {display: flex; flex-wrap:wrap; gap:20px; align-items:center; justify-content: space-between; padding: 0 20px; height: 70px;}
#tm_header .navi .lnb .nv_h a.logo {display: block; width: 120px; height: 38px; background: url(../_img/pc/comn/logo.svg)no-repeat center / contain;}
#tm_header .navi .lnb .login_wrap {}
#tm_header .navi .lnb .login_wrap a {background: linear-gradient(to right, #169DDE, #1482B7); padding: 20px; display: block; font: 700 16px / 26px "Pretendard", "Noto Sans KR", sans-serif; color: #fff;}
#tm_header .navi .lnb .login_wrap a p {display: inline-block; font: 300 16px / 26px "Pretendard", "Noto Sans KR", sans-serif;}
#tm_header .navi .lnb .nv_h .nv_btn {}
#tm_header .navi .lnb .nv_h .nv_btn a.close {display: block; font-size: 0; width: 18px; height: 18px; border: none; background: url(../_img/ta/comn/h_close.svg)no-repeat center / contain;}
#tm_header .navi .lnb .dep01 {border-top:1px solid #ddd;}
#tm_header .navi .lnb .dep01 > li {border-bottom: 1px solid #ddd; padding: 20px 15px;}
#tm_header .navi .lnb .dep01 > li > a {display: block; font: 500 16px / 26px "Pretendard", "Noto Sans KR", sans-serif; color: #111; position:relative;}
#tm_header .navi .lnb .dep01 > li > a.has-sub:after {position: absolute; content:''; top: 8px; right:0; width: 16px; height: 10px; background: url(../_img/ta/comn/dep01_dw_ico.svg)no-repeat center / contain;}
#tm_header .navi .lnb .dep01 > li > a.has-sub.on:after {position: absolute; content:''; top: 8px; right:0; width: 16px; height: 10px; background: url(../_img/ta/comn/dep01_up_ico.svg)no-repeat center / contain;}
#tm_header .navi .lnb .dep01 > li ul.dep02 {display: none; margin-top:10px; padding-left: 10px;}
#tm_header .navi .lnb .dep01 > li ul.dep02 > li {padding-top: 10px;}
#tm_header .navi .lnb .dep01 > li ul.dep02 > li > a {display: block; font: 400 15px / 25px "Pretendard", "Noto Sans KR", sans-serif; color: #999;}
/* #tm_header.on .navi .nav_bg {position:fixed; top:0; left:0; width:100%; height: 100%; background-color: rgba(0,0,0,0.6); z-index: 100; cursor:pointer;} */

#tm_bt_header {display:block; width: 100%; position: fixed; bottom:0; padding: 0 20px; background: #fff; border-top: 1px solid #ddd; z-index:190;}
#tm_bt_header ul.tm_bt {display: flex; flex-wrap: wrap; gap: 20px; align-items:center; height: 74px;}
#tm_bt_header ul.tm_bt li {width:calc((100% - 60px) / 4);}
#tm_bt_header ul.tm_bt li a {display: block;}
#tm_bt_header ul.tm_bt li a > div {width: auto; height: 32px; margin: 0 auto;}
#tm_bt_header ul.tm_bt li a.ic_home > div {background: url(../_img/ta/comn/ft_h_home.svg)no-repeat center / contain;}
#tm_bt_header ul.tm_bt li a.ic_menu > div {background: url(../_img/ta/comn/ft_h_cate3.svg)no-repeat center / contain;}
#tm_bt_header ul.tm_bt li a.ic_comm > div {background: url(../_img/ta/comn/ft_h_comm.svg)no-repeat center / contain;}
#tm_bt_header ul.tm_bt li a.ic_my > div {background: url(../_img/ta/comn/ft_h_my.svg)no-repeat center / contain;}
#tm_bt_header ul.tm_bt li a p {text-align:center; font: 500 13px / 23px "Pretendard", "Noto Sans KR", sans-serif; color: #555;}

.tm_sch_wrap {display: none; padding: 20px; background: #fff; position: fixed; top: 70px; width: 100%; z-index: 99;}
.tm_sch_wrap.on {display:block;}
.tm_sch_wrap .tm_sch_all {display: flex; flex-wrap:wrap; gap:20px; flex-direction: row-reverse; align-items:center;}
.tm_sch_wrap a.tm_x {display: block; font-size: 0; width: 16px; height: 16px; border: none; background: url(../_img/ta/comn/h_close.svg)no-repeat center / contain;}
.tm_sch_wrap .tm_sch {width:calc(100% - 36px); background: #f3f3f3; border-radius: 50px; padding: 15px 20px; display: flex; flex-wrap:wrap; align-items:center; justify-content:space-between;}
.tm_sch_wrap .tm_sch input.tm_sh {width: calc(100% - 28px); padding-right: 10px; background: none; border: none; font: 300 15px / 15px "Pretendard", "Noto Sans KR", sans-serif; color:#111;}
.tm_sch_wrap .tm_sch input.tm_sh::placeholder {font: 300 15px / 15px "Pretendard", "Noto Sans KR", sans-serif; color: #888;}
.tm_sch_wrap .tm_sch input[type="search"]::-webkit-search-cancel-button {display: none;}
.tm_sch_wrap .tm_sch .tm_s_btn {display: block; font-size: 0; width: 18px; height: 18px; border: none; background: url(../_img/pc/comn/search_ico.svg)no-repeat center;}

.chat_bot {}
.chat_bot a {position:fixed; bottom:110px; right:20px; z-index: 100;}
.chat_bot a > img {}

.chat_pop{display: none; position: fixed; bottom:140px; right:20px;z-index: 500;}
.chat_pop .pop_box{position: absolute; bottom:50px; right:0px; opacity: 0;}
.chat_pop.on .pop_box {opacity: 1; border-radius:20px;}
.chat_pop .pop_box .chat {padding: 14px; border-radius: 0 0 20px 20px; background:#fff; border: 1px solid #ddd;}
.chat_pop .pop_box .btn_box{display: flex;justify-content: space-between; align-items:center; background:#474747; padding: 15px 20px; border-radius: 20px 20px 0 0;}
.chat_pop .pop_box .btn_box p.chat_tit {font: 400 15px / 25px "Pretendard", "Noto Sans KR", sans-serif; color:#fff;}
.chat_pop .pop_box .btn_box button.close_btn {border: none; background: none; cursor:pointer;}
.chat_pop .pop_box .btn_box button.close_btn img {background: none; width: 15px; height: 15px;}
.chat_pop .pop_box .chat_box {width: 340px; min-height: 340px; border-radius: 0 0 20px 20px;}
.chat_pop .pop_box .chat_box .tok {display: flex; flex-wrap:wrap; gap: 8px; align-items:center;}
.chat_pop .pop_box .chat_box .tok .tok_icon {}
.chat_pop .pop_box .chat_box .tok .tok_icon img {width:35px; height:35px;}
.chat_pop .pop_box .chat_box .tok > span {font: 400 14px / 20px "Pretendard", "Noto Sans KR", sans-serif; color:#555;}
.chat_pop .pop_box .chat_box p.gt {padding: 10px 14px; background: #f7f7f7; border-radius: 10px; font: 300 13px / 20px "Pretendard", "Noto Sans KR", sans-serif; color:#444; width:calc(100% - 45px); margin-left: auto;}
.chat_pop .pop_box .chat_box p.gt:not(:last-child) {margin-bottom: 10px;}
.chat_pop .pop_box .chat_box p.gt_q {background: #e8f6fc; color:#111;}
.chat_pop .pop_box .chat_ip {width: 100%; border-radius: 50px; padding: 10px 15px; background: #e8f6fc; border: none; display: flex; flex-wrap:wrap; align-items:center; justify-content:space-between;}
.chat_pop .pop_box .chat_ip input[type="text"] {width: calc(100% - 30px); border:none; background: transparent; font: 400 14px / 24px "Pretendard", "Noto Sans KR", sans-serif; color:#555;}
.chat_pop .pop_box .chat_ip .send {cursor: pointer; font-size: 0; border: none; width: 20px; height: 20px; background: url(../_img/pc/comn/chat_send_ico.svg)no-repeat center;}

#footer {width: 100%; margin: 0 auto; padding: 30px 20px; border-top: 1px solid #eee; margin-bottom: 80px;}
#footer h1 {}
#footer h1 a.ft_logo {display: block; width: 120px; height: 38px; background: url(../_img/pc/comn/ft_logo.svg)no-repeat center / contain;}
#footer .ft_info {margin-top: 15px; display: flex; flex-wrap:wrap; justify-content:space-between; gap:25px;}
#footer .ft_left {width:100%;}
#footer .ft_left .ft_txt {}
#footer .ft_left .ft_txt p {display: inline-block; font: 300 14px / 24px "Pretendard", "Noto Sans KR", sans-serif; color: #666;}
#footer .ft_left  p.copy {font: 300 14px / 14px "Pretendard", "Noto Sans KR", sans-serif; color: #666; margin-top: 10px;}
#footer .ft_left .ft_txt > em {position:relative; padding: 0 12px;}
#footer .ft_left .ft_txt > em:after {position:absolute; content:''; top: 6px; width: 1px; height: 10px; background: #ddd;}
#footer .ft_left .ft_txt > i {display: block;}
#footer .ft_right {width: 100%; display: flex; flex-direction:column; justify-content:space-between; gap:14px;}
#footer .ft_right ul.privacy {display: flex; flex-wrap:wrap; justify-content:flex-start; gap: 20px;}
#footer .ft_right ul.privacy li {}
#footer .ft_right ul.privacy li a {display: block; font: 400 14px / 14px "Pretendard", "Noto Sans KR", sans-serif; color: #666;}
#footer .ft_right ul.privacy li a.point {color:#111; font-weight: 600;}
#footer .ft_right ul.ft_btn {font-size: 0; text-align:left;}
#footer .ft_right ul.ft_btn li {display: inline-block; vertical-align:middle; text-align:right;}
#footer .ft_right ul.ft_btn li img {width:40px;}
#footer .ft_right ul.ft_btn li:not(:first-child) {margin-left: 10px;}
#footer .ft_right ul.ft_btn li:nth-child(3) {margin-left: 20px;}
#footer .ft_right ul.ft_btn li a {display: block;}
#footer .ft_right ul.ft_btn li a.btn01 {font: 300 14px / 20px "Pretendard", "Noto Sans KR", sans-serif; color:#999; padding: 6px 12px; border: 1px solid #ddd; border-radius: 10px;}

}


/* Mobile */
@media only screen and (max-width: 639px) {	

.tablet		{display:none;}
.mobile		{display:block !important;}
.web			{display:none;}

body {margin-top:60px;}

#header {display: none;}
#tm_header {position: fixed; top:0; padding: 0 20px; width:100%; height: 60px; background: #fff; border-bottom: 1px solid #ddd; z-index: 200;}
#tm_header .tm_h_wrap {display: flex; flex-wrap: wrap; justify-content:space-between; align-items:center; height: 60px;}
#tm_header .tm_h_wrap h1 {}
#tm_header .tm_h_wrap h1 a.logo {display: block; width: 100px; height: 28px; background: url(../_img/pc/comn/logo.svg)no-repeat center / contain;}
#tm_header .tm_h_wrap .tm_right .s_wrap {}
#tm_header .tm_h_wrap .tm_right .s_wrap a {display: block; font-size: 0; width: 22px; height: 22px; border: none; background: url(../_img/pc/comn/search_ico.svg)no-repeat center / contain;}
#tm_header .tm_h_wrap .tm_right .ham {}
#tm_header .tm_h_wrap .tm_right {display: flex; flex-wrap:wrap; gap: 20px; align-items:center;}
#tm_header .tm_h_wrap .tm_right .ham a.navi_btn {display: block; font-size: 0; width: 22px; height: 18px; border: none; background: url(../_img/ta/comn/ham.svg)no-repeat center / contain;}
#tm_header .navi {display: none;}

#tm_header.on {width: 100%; height: 100%; padding: 0 20px;}
#tm_header.on .tm_right {display:none;}
#tm_header.on .navi {}
#tm_header .navi .lnb {position: fixed; top: 0; left: auto; right:0; bottom:0; width:100%; height:100%; max-width: 100%; z-index: 200; background: #fff;}
#tm_header .navi .lnb .nv_h {display: flex; flex-wrap:wrap; gap:20px; align-items:center; justify-content: space-between; padding: 16px 15px;}
#tm_header .navi .lnb .login_wrap {}
#tm_header .navi .lnb .login_wrap a {background: linear-gradient(to right, #169DDE, #1482B7); padding: 15px 20px; display: block; font: 700 15px / 25px "Pretendard", "Noto Sans KR", sans-serif; color: #fff;}
#tm_header .navi .lnb .login_wrap a p {display: inline-block; font: 300 15px / 25px "Pretendard", "Noto Sans KR", sans-serif;}
#tm_header .navi .lnb .nv_h {display: flex; flex-wrap:wrap; gap:20px; align-items:center; justify-content: space-between; padding: 0 20px; height: 60px;}
#tm_header .navi .lnb .nv_h a.logo {display: block; width: 100px; height: 28px; background: url(../_img/pc/comn/logo.svg)no-repeat center / contain;}
#tm_header .navi .lnb .nv_h .nv_btn {}
#tm_header .navi .lnb .nv_h .nv_btn a.close {display: block; font-size: 0; width: 18px; height: 18px; border: none; background: url(../_img/ta/comn/h_close.svg)no-repeat center / contain;}
#tm_header .navi .lnb .dep01 {border-top:1px solid #ddd;}
#tm_header .navi .lnb .dep01 > li {border-bottom: 1px solid #ddd; padding: 15px 20px;}
#tm_header .navi .lnb .dep01 > li > a {display: block; font: 500 15px / 25px "Pretendard", "Noto Sans KR", sans-serif; color: #111; position:relative;}
#tm_header .navi .lnb .dep01 > li > a.has-sub:after {position: absolute; content:''; top: 8px; right:0; width: 16px; height: 10px; background: url(../_img/ta/comn/dep01_dw_ico.svg)no-repeat center / contain;}
#tm_header .navi .lnb .dep01 > li > a.has-sub.on:after {position: absolute; content:''; top: 8px; right:0; width: 16px; height: 10px; background: url(../_img/ta/comn/dep01_up_ico.svg)no-repeat center / contain;}
#tm_header .navi .lnb .dep01 > li ul.dep02 {display: none; margin-top:10px; padding-left: 0;}
#tm_header .navi .lnb .dep01 > li ul.dep02 > li:not(:first-child) {padding-top: 8px;}
#tm_header .navi .lnb .dep01 > li ul.dep02 > li > a {display: block; font: 400 14px / 24px "Pretendard", "Noto Sans KR", sans-serif; color: #999;}
/* #tm_header.on .navi .nav_bg {position:fixed; top:0; left:0; width:100%; height: 100%; background-color: rgba(0,0,0,0.6); z-index: 100; cursor:pointer;} */

#tm_bt_header {display:block; width: 100%; position: fixed; bottom:0; padding: 10px 15px; background: #fff; border-top: 1px solid #ddd; z-index:190;}
#tm_bt_header ul.tm_bt {display: flex; flex-wrap: wrap; gap: 20px;}
#tm_bt_header ul.tm_bt li {width:calc((100% - 60px) / 4);}
#tm_bt_header ul.tm_bt li a {display: block;}
#tm_bt_header ul.tm_bt li a > div {width: auto; height: 25px; margin: 0 auto;}
#tm_bt_header ul.tm_bt li a.ic_home > div {background: url(../_img/ta/comn/ft_h_home.svg)no-repeat center / contain;}
#tm_bt_header ul.tm_bt li a.ic_menu > div {background: url(../_img/ta/comn/ft_h_cate3.svg)no-repeat center / contain;}
#tm_bt_header ul.tm_bt li a.ic_comm > div {background: url(../_img/ta/comn/ft_h_comm.svg)no-repeat center / contain;}
#tm_bt_header ul.tm_bt li a.ic_my > div {background: url(../_img/ta/comn/ft_h_my.svg)no-repeat center / contain;}
#tm_bt_header ul.tm_bt li a p {text-align:center; font: 500 12px / 22px "Pretendard", "Noto Sans KR", sans-serif; color: #111;}

.tm_sch_wrap {display: none; padding: 15px; background: #fff; position: fixed; top: 60px; width: 100%; z-index: 99;}
.tm_sch_wrap.on {display:block;}
.tm_sch_wrap .tm_sch_all {display: flex; flex-wrap:wrap; gap:10px; flex-direction: row-reverse; align-items:center;}
.tm_sch_wrap a.tm_x {display: block; font-size: 0; width: 16px; height: 16px; border: none; background: url(../_img/ta/comn/h_close.svg)no-repeat center / contain;}
.tm_sch_wrap .tm_sch {width:calc(100% - 26px); background: #f3f3f3; border-radius: 50px; padding: 10px 15px; display: flex; flex-wrap:wrap; align-items:center; justify-content:space-between;}
.tm_sch_wrap .tm_sch input.tm_sh {width: calc(100% - 28px); padding-right: 10px; background: none; border: none; font: 300 13px / 13px "Pretendard", "Noto Sans KR", sans-serif; color:#111;}
.tm_sch_wrap .tm_sch input.tm_sh::placeholder {font: 300 13px / 13px "Pretendard", "Noto Sans KR", sans-serif; color: #888;}
.tm_sch_wrap .tm_sch input[type="search"]::-webkit-search-cancel-button {display: none;}
.tm_sch_wrap .tm_sch .tm_s_btn {display: block; font-size: 0; width: 16px; height: 16px; border: none; background: url(../_img/pc/comn/search_ico.svg)no-repeat center / contain;}

.chat_bot {}
.chat_bot a {position:fixed; bottom:100px; right:20px; z-index: 100;}
.chat_bot a > img {width: 50px; height: 50px;}

.chat_pop{display: none;position: fixed; bottom:50px; right:20px;z-index: 500;}
.chat_pop .pop_box{position: absolute; bottom:110px; right:0px; opacity: 0; width:100%;}
.chat_pop.on .pop_box {opacity: 1; border-radius:20px; width: 320px;}
.chat_pop .pop_box .chat {padding: 14px; border-radius: 0 0 10px 10px; background:#fff; border: 1px solid #ddd;}
.chat_pop .pop_box .btn_box{display: flex;justify-content: space-between; align-items:center; background:#474747; padding: 10px 15px; border-radius: 10px 10px 0 0;}
.chat_pop .pop_box .btn_box p.chat_tit {font: 400 13px / 23px "Pretendard", "Noto Sans KR", sans-serif; color:#fff;}
.chat_pop .pop_box .btn_box button.close_btn {border: none; background: none; cursor:pointer;}
.chat_pop .pop_box .btn_box button.close_btn img {background: none; width: 15px; height: 15px;}
.chat_pop .pop_box .chat_box {width: 100%; min-height: 300px; border-radius: 0 0 10px 10px;}
.chat_pop .pop_box .chat_box .tok {display: flex; flex-wrap:wrap; gap: 8px; align-items:center;}
.chat_pop .pop_box .chat_box .tok .tok_icon {}
.chat_pop .pop_box .chat_box .tok .tok_icon img {width:25px; height:25px;}
.chat_pop .pop_box .chat_box .tok > span {font: 400 12px / 18px "Pretendard", "Noto Sans KR", sans-serif; color:#555;}
.chat_pop .pop_box .chat_box p.gt {padding: 10px 14px; background: #f7f7f7; border-radius: 10px; font: 300 12px / 18px "Pretendard", "Noto Sans KR", sans-serif; color:#444; width:calc(100% - 33px); margin-left: auto;}
.chat_pop .pop_box .chat_box p.gt:not(:last-child) {margin-bottom: 8px;}
.chat_pop .pop_box .chat_box p.gt_q {background: #e8f6fc; color:#111;}
.chat_pop .pop_box .chat_ip {width: 100%; border-radius: 50px; padding: 10px 15px; background: #e8f6fc; border: none; display: flex; flex-wrap:wrap; align-items:center; justify-content:space-between;}
.chat_pop .pop_box .chat_ip input[type="text"] {width: calc(100% - 30px); border:none; background: transparent; font: 400 13px / 23px "Pretendard", "Noto Sans KR", sans-serif; color:#555;}
.chat_pop .pop_box .chat_ip .send {cursor: pointer; font-size: 0; border: none; width: 20px; height: 20px; background: url(../_img/pc/comn/chat_send_ico.svg)no-repeat center;}

#footer {width: 100%; margin: 0 auto; padding: 25px 20px; border-top: 1px solid #eee; z-index: 5000; margin-bottom: 80px;}
#footer h1 {}
#footer h1 a.ft_logo {display: block; width: 100px; height: 28px; background: url(../_img/pc/comn/ft_logo.svg)no-repeat center / contain;}
#footer .ft_info {margin-top: 10px; display: flex; flex-wrap:wrap; justify-content:space-between; gap:25px;}
#footer .ft_left {width:100%;}
#footer .ft_left .ft_txt {}
#footer .ft_left .ft_txt p {display: inline-block; font: 300 13px / 23px "Pretendard", "Noto Sans KR", sans-serif; color: #666;}
#footer .ft_left  p.copy {font: 300 12px / 12px "Pretendard", "Noto Sans KR", sans-serif; color: #666; margin-top: 10px;}
#footer .ft_left .ft_txt > em {position:relative; padding: 0 8px;}
#footer .ft_left .ft_txt > em:after {position:absolute; content:''; top: 8px; width: 1px; height: 8px; background: #ddd;}
#footer .ft_left .ft_txt > i {display: block;}
#footer .ft_right {width: 100%; display: flex; flex-direction:column; justify-content:space-between; gap:15px;}
#footer .ft_right ul.privacy {display: flex; flex-wrap:wrap; justify-content:flex-start; gap: 15px;}
#footer .ft_right ul.privacy li {}
#footer .ft_right ul.privacy li a {display: block; font: 400 13px / 13px "Pretendard", "Noto Sans KR", sans-serif; color: #666;}
#footer .ft_right ul.privacy li a.point {color:#111; font-weight: 600;}
#footer .ft_right ul.ft_btn {font-size: 0; text-align:left;}
#footer .ft_right ul.ft_btn li {display: inline-block; vertical-align:middle; text-align:right;}
#footer .ft_right ul.ft_btn li img {width:32px;}
#footer .ft_right ul.ft_btn li:not(:first-child) {margin-left: 10px;}
#footer .ft_right ul.ft_btn li:nth-child(3) {margin-left: 10px;}
#footer .ft_right ul.ft_btn li a {display: block;}
#footer .ft_right ul.ft_btn li a.btn01 {font: 300 12px / 20px "Pretendard", "Noto Sans KR", sans-serif; color:#999; padding: 4px 10px; border: 1px solid #ddd; border-radius: 10px;}

}
