@charset "utf-8";

/* 새창 팝업 */
#windowPop	{padding:20px;}
#windowPop .btn {display:block; margin: 40px auto 0; width:90px; height:45px;  text-align:center; padding:10px; background:#555; color:#fff; font:400 16px/25px "Pretendard", "Noto Sans KR", sans-serif; border-radius:10px; transition:all .2s;}

/* PC */
@media only screen and (min-width: 960px) {


#sub_content {width: 100%; padding: 50px 0 100px;}

.w100 {width:100% !important;}

/* 레이어 팝업 기본 */
div.layer					{display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:100000;}
div.layer .bg				{position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50);}
div.layer .pop-layer	{position:absolute; top: 50%; left: 50%;  transform:translateX(-50%) translateY(-50%); max-width:1400px; min-width:400px; background:#fff; z-index: 10;}

.pop_title				{width:100%; position:relative; font-size:26px; font-weight:600; color:#222; padding:30px}
.pop_title a.cbtn	{position:absolute; top:30px; right:30px; display:block; font-size:0; width:20px; height:20px;  background:url('../_img/cont/pop_cbtn.png')no-repeat 50% 50%/100%}
.pop_cont				{width:100%; padding:10px 30px 30px; max-height:calc(100dvh - 150px); overflow-y:auto;}

/* 페이지네이션 */
.pagination											{text-align: center; margin-top: 50px;}
.pagination > *										{display: inline-block; border-radius:5px;  transition:all .2s;}
.pagination a.direction							{text-indent: -9999px; border:solid 1px #fff; padding:2px; width:30px; height:30px;}
.pagination a.direction:hover, 
.pagination a.direction:focus					{border:solid 1px var(--co01)}
.pagination a.direction.prev					{background: url('../_img/pc/comn/prev.png') no-repeat 50% 48%; margin-right: 5px;}
.pagination a.direction.prev.end			{background: url('../_img/pc/comn/prev_end.png') no-repeat 50% 48%;}

.pagination a.direction.next					{background: url('../_img/pc/comn/next.png') no-repeat 53% 50%; margin-left: 5px;}
.pagination a.direction.next.end			{background: url('../_img/pc/comn/next_end.png') no-repeat 53% 50%;}

.pagination a:not(.direction)				{margin: 0 7px; display:inline-block; min-width:30px; height:30px; padding:5px 0; vertical-align:top; text-align:center; font: 400 15px/21px "Pretendard","Noto Sans KR", sans-serif; color:#888; transition:.2s;}
.pagination a:not(.direction):hover,
.pagination a:not(.direction):focus	{color:var(--co01); }
.pagination a:not(.direction).on		{color:#fff; background:var(--co01); border-radius:5px; padding:5px; width:30px; height:30px; }

/* bbs 상세 */

h2.sub_tit {font: 800 26px / 26px "Pretendard", "Noto Sans KR", sans-serif; color:#222; margin-bottom: 25px;}
h3.sub_tit02 {font: 800 24px / 24px "Pretendard", "Noto Sans KR", sans-serif; color:#222; margin-bottom: 20px;}
h4 {font: 600 18px / 18px "Pretendard", "Noto Sans KR", sans-serif; color:#222; margin-bottom: 15px;}

.s_cont {max-width: 1480px; width: 100%; margin: 0 auto; display: flex; flex-wrap:wrap; gap:80px; padding:0 40px}
.s_cont .left {width: 220px;}
.s_cont .right {width: calc(100% - 300px);}
.s_cont .cont_all {width: 100%;}

.s_cont p.left_tit {font: 700 20px / 28px "Pretendard", "Noto Sans KR", sans-serif; color:#333; margin-bottom: 15px;}
.s_cont .lnb {min-height: 440px; height: 100%; }
.s_cont .lnb ul.lnb_li {}
.s_cont .lnb ul.lnb_li > li {display: block;}
.s_cont .lnb ul.lnb_li > li:not(:first-child) {margin-top:25px;}
.s_cont .lnb ul.lnb_li > li > ul.sub_li {}
.s_cont .lnb ul.lnb_li > li > ul.sub_li li {border-top: 1px solid #eee; font: 400 17px / 29px "Pretendard", "Noto Sans KR", sans-serif; transition: .3s;}
.s_cont .lnb ul.lnb_li > li > ul.sub_li li:hover a {color:var(--co01);}
.s_cont .lnb ul.lnb_li > li > ul.sub_li li.on a {color:var(--co01);}
.s_cont .lnb ul.lnb_li > li > ul.sub_li li:not(:first-child) {}
.s_cont .lnb ul.lnb_li > li > ul.sub_li li a {display: block; padding: 10px 0; color:#666;}

.s_cont .right {}

sup {color:var(--red);}

/* 로그인 */
h1.log_logo {text-align:center; margin:30px 0;}
div.login_all {margin:0 auto; width:520px; background:#fff; text-align:center; border-radius:20px; border: 1px solid #eee;}
div.login					{padding:0 40px 40px 40px;}
div.login h1 img			{}	
div.login .h_tt				{margin-top: 20px; font-size: 15px; color: #888;}
div.login .lg_wrap			{}
div.login .lg_wrap label	{position: absolute; overflow: hidden; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0,0,0,0);}
div.login .lg_wrap input	{width:100%; padding: 0 15px; height: 55px; border-radius: 10px; font-size:15px;}
div.login .save_id													{}
div.login .save_id input[type="checkbox"]							{position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0}
div.login .save_id input[type="checkbox"] + label					{display: inline-block; position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none;  -ms-user-select: none; color:#888; font-size:15px;}
div.login .save_id input[type="checkbox"] + label:before			{content: ' '; background: #fff url('../_img/cont/check.png')no-repeat center center / 10px; border: 1px solid #ccc; display: inline-block; width: 16px; height: 16px; line-height: 16px; margin: -3px 5px 0 0; text-align: center; vertical-align: middle;}
div.login .save_id input[type="checkbox"]:checked + label			{}
div.login .save_id input[type="checkbox"]:checked + label:before	{content: ' '; background: var(--co01) url('../_img/pc/cont/check_w.png')no-repeat center center / 11px; border-color: var(--co01);}
div.login .flex				{margin-top:10px; display: flex; justify-content: space-between; align-items: center;}
div.login .flex .re_btn a	{font-size: 15px; color: #222; display: block; text-decoration: underline;}
div.login .tt				{font-size: 15px; color: #888; margin-top: 20px;}
div.login p.copy			{margin-top:40px; color:#ccc; font-size:15px; font-weight:300; font-family:"Pretendard";}

.lg_btn						{margin-top:30px; display: flex; flex-wrap:wrap; gap: 10px;}
.lg_btn a					{display:flex; justify-content: center; align-items: center; width: calc((100% - 10px) / 2); height: 50px; border-radius:10px; background:var(--co01); font-size: 16px; font-weight: 500; color: #fff; transition:0.2s;}
.lg_btn a:nth-child(2)		{border: 1px solid var(--co01); background:#fff; color: var(--co01); transition:0.2s;}
.lg_btn a:focus,
.lg_btn a:hover				{background:#1082b3;}
.lg_btn a:nth-child(2):focus,
.lg_btn a:nth-child(2):hover	{background:#f3f8ff; color:var(--co01);}

.input_flex					{display: flex; gap: 6px; align-items: center;}
.input_flex .btn a			{display: flex; align-items: center; justify-content: center; border: 1px solid #ddd; color: #888; font-size: 12px; font-weight: 500; width: 70px; border-radius: 5px; transition: all 0.2s;}
.input_flex .btn a:hover	{border: 1px solid #222; color: #222;}
div.login .input_flex .btn a{height: 55px;}

.input_flex .phone			{display: flex; align-items: center; width: 100%; background: #f8f8f8; border-radius: 5px;}
.input_flex .phone span		{font-size: 15px; border-right: 1px solid #ddd; padding: 0 20px 0 30px; height: 14px; line-height: 14px;}

.code			{text-align: right; color: #222; font-size: 13px; font-weight: 500; margin-top: 12px; display: flex; align-items: center; justify-content: flex-end;}
.code:before	{content: ''; width: 14px; height: 14px; margin-right: 4px; display: inline-block; background: url('../_img/cont/clock_icon.png')no-repeat center center / 14px;}
.code a			{display: flex; align-items: center; justify-content: center; border-radius: 30px; margin-left: 10px; font-size: 12px; background: #222; color: #fff; height: 21px; padding: 0 10px;}
.code a:after	{content: ''; width: 12px; height: 12px; background: url('../_img/cont/code_icon.png')no-repeat center center / 12px;}

.gray_stt	{font-size: 14px; color: #888; margin-top: 6px; line-height: 19px; text-align: left;}
.gray_stt.in{text-indent: -17px; padding-left: 17px;}


/* 로그인탭 */
ul.mem_tab{margin: 0px; padding: 0px; list-style: none; display: flex; flex-wrap:wrap; margin-bottom: 30px;}
ul.mem_tab li{width: 50%; background: none; color: #bababa;  display: inline-block; padding:20px 15px; cursor: pointer;}
ul.mem_tab li:nth-child(1){border-radius: 20px 0px 0px 0px; border-right: 1px solid #eee;}
ul.mem_tab li:nth-child(2){border-radius: 0px 20px 0px 0px;}
ul.mem_tab li.current{border-bottom:2px solid var(--co01); background: #f3f8ff; color: var(--co01); font-weight: 600;}

.mem_con {display: none;}
.mem_con.current{display: inherit;}

/* 회원가입 */
.join_wrap {width: 600px; margin: 0 auto;}
.join_wrap > h2.sub_tit {text-align:center;}
.join_wrap .join_con:not(:last-child) {margin-bottom: 30px;}
.j_flex {display: flex; gap: 10px; align-items:center;}

/* 인플루언서 유형 아이콘 */
.join_con {}
.join_con .j_ico {}
.join_con .j_ico input {width: calc(100% - 45px);}
.join_con p.ico {width: 35px; height: 35px; border-radius: 50%; font-size:0; /* border: 1px solid #eee; */}
.join_con p.ico.blog {background: url(../_img/pc/main/sns_na_ico.svg)no-repeat center / cover;}
.join_con p.ico.insta {background: url(../_img/pc/main/sns_in_ico.svg)no-repeat center / contain;}
.join_con p.ico.yout {background: url(../_img/pc/main/sns_yt_ico02.svg)no-repeat center / contain;}
.join_con p.ico.tiktok {background: url(../_img/pc/main/sns_tik_ico.svg)no-repeat center / contain;}
.join_con p.ico.sns {background: url(../_img/pc/main/sns_etc_ico.svg)no-repeat center / contain;}

/* 검색창 */
.sel select									{min-width: 120px; height:45px; padding-left:15px; margin-right:10px; border-radius:10px; border: 1px solid #ddd; font:400 15px/45px "Pretendard", "Noto Sans KR", sans-serif; color: #333;}

div.list_search								{overflow:hidden; width:100%; text-align:center; margin-bottom:30px; display:flex; align-items: center; justify-content: space-between;}
div.list_search select						{position: relative; width:120px; height:45px; padding-left:15px; margin-right:10px; border-radius:10px; border: 1px solid #ddd; font:400 15px/30px "Pretendard", "Noto Sans KR", sans-serif; color: #333;}
div.list_search input.info_in				{vertical-align:top;display:inline-block; width:calc(100% - 220px); height:45px; padding:0 15px; margin-right:10px; border:none;  border: 1px solid #ddd; background:#f9f9f9; border-radius:10px;  font:400 15px/30px "Pretendard", "Noto Sans KR", sans-serif; color: #333;}
div.list_search input::placeholder			{color:#888}
div.list_search a.b_btn						{display:inline-block; width:90px; height:45px;  text-align:center; padding:10px; background:#555; color:#fff; font:400 16px/25px "Pretendard", "Noto Sans KR", sans-serif; border-radius:10px; transition:all .2s;}
div.list_search a.b_btn:hover,
div.list_search a.b_btn:focus				{background:#333;}

div.list_search:has(.dic_radio)				{flex-wrap:wrap; justify-content: center;}
div.list_search ul.dic_radio				{display:flex; justify-content: center; width:100%; margin-bottom:20px;}
div.list_search ul.dic_radio	 li			{margin:0 10px}
div.list_search ul.dic_radio	 li	a		{display:inline-block; width:40px; height:40px; border-radius:10px; border:solid 1px #ddd; background:#f9f9f9; text-align:center; color:#666; font:400 17px/35px "Pretendard", "Noto Sans KR", sans-serif; transition:.2s;}
div.list_search ul.dic_radio	 li	a.on	{color:#fff !important; background:var(--co01); border-color:var(--co01);}
div.list_search ul.dic_radio	 li	a:hover,
div.list_search ul.dic_radio	 li	a:focus	{border-color:var(--co01); color:var(--co01);}
div.list_search .sub	{font:400 15px/24px "Noto Sans KR", sans-serif; color:var(--co01); margin-top:10px;}

/* 게시판 글쓰기 타이틀 + 카테고리 */
.tit_flex {display: flex; flex-wrap:wrap;}
.tit_flex input[type="text"] {width:calc(100% - 130px);}

/* 용어 */
.dic_result				{overflow:hidden;}
.dic_result a			{display:inline-block; padding:5px 10px; border-radius:5px; background:#f9f9f9; font:400 16px/25px "Noto Sans KR", sans-serif; color:#666; margin:0 5px 5px 0; transition:.2s;}
.dic_result a.on		{color:#fff !important; background:var(--co01)}
.dic_result a:hover,
.dic_result a:focus	{color:var(--co01); background:#f2faff;}

.dic_cont					{margin-top:30px; border:solid 1px #ddd; border-radius:10px; padding:30px 25px; word-break:keep-all;}
.dic_cont h5				{font:600 21px/28px "Noto Sans KR", sans-serif; color:#333; margin-bottom:10px; position:relative;}
.dic_cont h5::after	{position:absolute; content:''; width:8px; height:8px; border-radius:50%; background:var(--co01); margin-left:3px;}
.dic_cont .pl_box		{padding-left:10px;}
.dic_cont p + p			{margin-top:15px}
.dic_cont  .basic_table	{margin-top:20px;}
.dic_cont table.basic_table td			{text-align:left;}

.dic_cont .dot_list			{margin-bottom:25px;}
.dic_cont .dot_list	> li	{font-size:18px; color:#333; padding-left:10px;}
.dic_cont .dot_list	> li::before	{width:4px; height:4px; top:10px}

/* bds */
.listTop						{margin-bottom:10px; display:flex; justify-content: space-between; align-items: center;} 
.bbs_total					{display:inline-block;font:400 17px/25px "Pretendard", "Noto Sans KR", sans-serif; color:#000;}
.listTop:not(:has(.sel_box)) .bbs_total	{margin-bottom: 10px;}
.bbs_total strong		{color:var(--co01);}
.listTop	.basic_btn		{margin-top:0;}
.listTop	.basic_btn a	{font-size:16px; padding:10px 15px}
.listTop .sel				{display:inline-block;}
.listTop .sel select		{position: relative; width:100px; height:40px; padding-left:15px; border-radius:10px; border: 1px solid #ddd; font:400 15px/24px"Pretendard", "Noto Sans KR", sans-serif; color: #333;}
.listTop .sel_box a.btn			{vertical-align: top; display:inline-block; padding:8px 15px; background:#474747; color:#fff; border-radius:10px; font:300 15px/24px "Noto Sans KR", sans-serif; transition:.2s;}
.listTop .sel_box a.btn:hover,
.listTop .sel_box a.btn:focus	{background:var(--co01);}

.bbs_list				{width:100%; border-top: 2px solid #333; table-layout: fixed; text-align:center;}
.bbs_list thead tr	{border-bottom:solid 1px #e5e5e5}
.bbs_list tbody tr	{border-bottom:solid 1px #e5e5e5}
.bbs_list tr.notice	{background:#f3f8ff !important}
.bbs_list tr:hover	{background:#f9f9f9}
.bbs_list th			{padding:15px 0; font:500 17px/25px "Pretendard", "Noto Sans KR", sans-serif; color:#000; vertical-align:middle;}
.bbs_list td			{padding:15px 0; font:400 16px/23px "Pretendard", "Noto Sans KR", sans-serif; color:#666; vertical-align:middle;}
.bbs_list td.num,
.bbs_list td.date						{font-family:"Pretendard"; font-weight:300; color:#888;}
.bbs_list td.tit							{padding:15px 10px; text-align:left;}
.bbs_list td.tit a							{vertical-align: top; font:400 16px/22px "Pretendard", "Noto Sans KR", sans-serif; color:#333; display:inline-block; max-width:100%; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; white-space: nowrap; word-wrap: normal !important; transition:.2s;}
.bbs_list td.tit:has(.new) a		{max-width:calc(100% - 30px);}
.bbs_list td.tit:has(.cmt) a		{max-width:calc(100% - 60px);}
.bbs_list td.tit a:hover, 
.bbs_list td.tit a:focus				{color:var(--co01); text-decoration:underline;}
.bbs_list td.tit .new					{font:600 11px/12px "Pretendard", "Noto Sans KR", sans-serif; display:inline-block; width:18px; height:18px; border-radius:50%; color:#fff; background:var(--co01); text-align:center; padding-top:4px; vertical-align:top; margin:4px 0 0 5px;}
.bbs_list td.tit .cmt					{font:600 16px/22px "Pretendard", "Noto Sans KR", sans-serif; display:inline-block; color: var(--red); vertical-align:top; margin-left: 5px;}
.bbs_list td.cate						{word-break:keep-all;}
.bbs_list td.state .ing				{color:#E17A19;}
.bbs_list td.state .com				{color:var(--co01);}
.bbs_list td.print a						{display:inline-block;text-align:center;width: 32px;height: 27px;border:solid 1px transparent;border-radius:5px;transition:.2s;}
.bbs_list td.print a img				{vertical-align:top;}
.bbs_list td.print a:hover img	{opacity:0;}
.bbs_list td.print a:hover			{background:url('../_img/pc/cont/print_on.png') no-repeat 50% 50%;}
.bbs_list tr.nodata						{background:#fff !important;}
.bbs_list tr.nodata	 td				{color:#959595; padding:50px 0; text-align:center;}

.bbs_list td.like	{color: var(--co01);}
span.mr	{font:500 15px/15px "Pretendard", "Noto Sans KR", sans-serif; color:#fff; padding: 4px 12px; border-radius: 50px; text-align:center; background: var(--co01);}

.filter_wrap {display: flex; flex-wrap:wrap; justify-content:space-between; margin-bottom: 20px;}
.filter_wrap .ck_btn {display: flex; gap: 5px;}
.my_ck {display: flex; gap: 5px; align-items: center;}

/* 검색 */
.list_wrap {display: flex;}

/* 체크박스 */
.checkbox input[type="checkbox"]					{position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0}
.checkbox input[type="checkbox"] + label			{display: inline-block; position: relative; padding-left: 28px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none;  -ms-user-select: none; font-size:16px; color:#555; margin: 5px 15px 5px 0px;}
.checkbox input[type="checkbox"] + label:before		{content: ' '; position:absolute; top:0; left:0; background:url('../_img/pc/cont/check.png')no-repeat center center / 14px; border: 1px solid #ccc; display: inline-block; width: 18px; height: 18px; line-height: 18px; text-align: center; vertical-align: middle;}
.checkbox input[type="checkbox"]:checked + label	{}
.checkbox input[type="checkbox"]:checked + label:before	{content: ' '; background:var(--co01) url('../_img/pc/cont/check_w.png')no-repeat center center / 14px; border-color:var(--co01);}

.checkbox input[type="checkbox"] + label > em {color:#ff0000; font-style:normal;}

/* 라디오버튼 (버튼형식) */
.radio_wrap input[type="radio"] {display: none;}
.radio_wrap input[type="radio"] + label {display: inline-block; cursor:pointer; padding: 10px 30px; border-radius: 10px; border: 1px solid #ddd; line-height: 20px; text-align: center; font-size: 16px;}
.radio_wrap input[type="radio"] + label {background: #fff; color: #555;}
.radio_wrap input[type="radio"]:checked + label {color:#fff; background: #333; border: 1px solid #333;}


/* 커뮤니티 필터버튼 */
.ck_btn li input[type="checkbox"].n_ck				{display: none;}
.ck_btn li input[type="checkbox"] + label			{display: inline-block; position: relative; padding: 8px 16px; background-color: #fafafa; border-radius: 50px; border: 1px solid #ddd; cursor: pointer; user-select: none; color: #999;}
.ck_btn li input[type="checkbox"] + label:before	{display: none;}
.ck_btn li input[type="checkbox"]:checked + label	{color:#fff; border: 1px solid #333; background: #333;}
.ck_btn li input[type="checkbox"]:checked + label:before	{content: ''; background:#333; border-color:#333;}

/* input */
input[type="text"],
input[type="password"],
input[type="email"]	{width: 100%; height: 45px; border: 1px solid #ddd; background: #fff; padding-left: 15px; border-radius: 10px; font: 400 15px/45px "Pretendard", "Noto Sans KR", sans-serif;}

/* 전화번호 */
.phone {}
.phone > select {width: 110px;}
.phone > input {width: 150px;}

/* 이메일 */
.mail {width: calc(100% - 100px);}
.mail > select {width: 110px; margin-right: 0;}
.mail > input {width: 35%;}

/* 생년월일 */
.birth {display: flex; flex-wrap:wrap; gap: 5px;}
.birth > input {width:calc((100% - 10px) / 3);}

.j_caution {font-size: 15px; color:#ff0000; margin-top:10px;}

/* 파일업로드 */
.filebox label			{width: 100%; display: block; border: 1px dashed #ddd; height: 120px; background: #fff; border-radius: 5px; display: flex; gap:10px; flex-direction: column; align-items: center; justify-content: center; font-weight: 400; color: #888;}
.filebox label span		{display: block; width: 30px; height: 30px; background: url('../_img/pc/cont/file_ico02.svg')no-repeat 50% 50% / contain;}
.filebox p + p			{margin-top: 7px;}
.filebox a				{width: 100%; min-height: 40px; border: 2px solid #f8f8f8; background: #f8f8f8; color: #888; padding: 8px 45px 8px 12px; border-radius: 5px; font: 400 14px/21px 'Noto Sans KR', 'sans-serif', 'Malgun Gothic','맑은고딕','굴림','serif'; border-radius: 5px; box-sizing: border-box; display: flex; align-items: center;}
.filebox label + a,
.filebox label + p		{margin-top: 15px;}
.filebox p				{position: relative;}
.filebox p .del			{position: absolute; right: 15px; top: calc(50% - 9px); border: none; border-radius: 20px; width: 18px; height: 18px; background: #ddd url('../_img/cont/del.png')no-repeat 50% 50% / 18px;}
.filebox.down a			{background: #f8f8f8 url('../_img/cont/file_down.png')no-repeat right 12px top 50% / 16px;}

.filebox.card label			{min-height: 180px; flex-direction: column; gap: 5px;}
.filebox.card label span	{display: block; width: 44px; height: 44px; border-radius: 50px; background: #ddd url('../_img/cont/file_plus_w.png')no-repeat 50% 50% / 25px;}


/* 버튼 */
/* 글 작성 */
.btn {display:inline-block; width:90px; height:45px; text-align:center; padding:10px; background:var(--co01); color:#fff; font:400 16px/25px "Pretendard", "Noto Sans KR", sans-serif; border-radius:10px; transition:all .2s;}
.btn:hover {background: #1082b3;}
.btn.a {width: auto; padding: 10px 14px;}
.btn.bk {background: #333;}
.btn.bk_line {border:1px solid #333; color:#333; background:#fff;}

.btn2 {display:inline-block; min-width:80px; margin: 20px auto 0; text-align:center; padding:5px; background:#333; color:#fff; font:400 15px/24px "Pretendard", "Noto Sans KR", sans-serif; border-radius:5px; transition:all .2s;}
.btn2.bk {background: #333;}
.btn2.bk_line {border:1px solid #333; color:#333; background:#fff;}

.basic_btn a			{margin-top: 20px; display: block; font: 400 16px / 29px "Pretendard", "Noto Sans KR", sans-serif; text-align:center; background: #f7f7f7; border-radius: 10px; color: #999; border: 1px solid #ddd; padding: 8px 40px; transition: .3s; word-break:keep-all;}
.basic_btn a.line_b		{display: inline-block; border:solid 1px #ddd; background:#fff; color:#474747;}
.basic_btn a.line_b:hover,
.basic_btn a.line_b:focus	{border:solid 1px var(--co01); color:var(--co01);}

/* 로그아웃 버튼 */
.logout {margin-top: 20px; display: inline-block; font: 400 16px / 29px "Pretendard", "Noto Sans KR", sans-serif; text-align:center; background: #f7f7f7; border-radius: 10px; color: #999; border: 1px solid #ddd; padding: 8px 20px; transition: .3s;}
.logout:hover {background: #555; border: 1px solid #555; color:#fff;}

/* bbs 상세 */
.bbs_view				{width:100%; border-top:solid 2px #000; }
.boardTop				{border-bottom:solid 1px #ddd; padding: 30px 25px}
.boardTop h4.tit				{font:500 20px/30px "Pretendard", "Noto Sans KR", sans-serif; color:#333; margin-bottom:15px; padding-left:0; margin-bottom:10px}
.boardTop p									{font:400 16px/27px "Noto Sans KR", sans-serif; color: #666; display: inline-block;}
.boardTop p span							{display:inline-block; margin-right:9px; padding-right:12px; position:relative}
.boardTop p span::after				{content: ''; width: 1px; height: 12px; background: #cdcdcd; display: inline-block; position:absolute; top:7px; right:0}
.boardTop p span:last-child::after	{display: none;}
.boardTop p span b						{font-weight:500; color: #333;}

.bbs_view .file_box						{display: block; width: 100%; padding:18px 25px; background: #f2faff;}
.bbs_view .file_box p					{display: block;}
.bbs_view .file_box p a					{transition: all .2s; font:400 16px/20px "Noto Sans KR", sans-serif; color: #666; display: block; margin-bottom: 8px; padding-left:23px; background:url('../_img/pc/cont/file.png') no-repeat 0% 50%/16px;}
.bbs_view .file_box p:last-child a	{margin-bottom: 0;}
.bbs_view .file_box p a:hover		{color: var(--co01); background:url('../_img/pc/cont/file_on.png') no-repeat 0% 50%/16px;}

.board_cont			{padding:40px 25px 60px;}
.board_cont > *	{font-family:revert;}
.board_cont img	{max-width:100%;}

/* 다음글, 이전글 */
ul.prev_next									{border-top:solid 1px #333; border-bottom:solid 1px #333;}
ul.prev_next li								{padding:15px 20px; overflow:hidden;}
ul.prev_next li.prev						{border-bottom:solid 1px #ddd;}
ul.prev_next li strong					{width:110px; float:left; line-height:30px; font-weight:500; position:relative;}
ul.prev_next li strong::after			{position:absolute; content:''; right:0; top:50%; transform:translateY(-50%); width: 10px; height:10px;}
ul.prev_next li.prev strong::after	{background:url('../_img/pc/comn/sel_arr.png') no-repeat 50% 50%;  transform:translateY(-50%) rotate(-180deg);}
ul.prev_next li.next strong::after	{background:url('../_img/pc/comn/sel_arr.png') no-repeat 50% 50%; }
ul.prev_next li a							{float:left; width:calc(100% - 110px); height:30px; font:500 17px/29px "Noto Sans KR", sans-serif; display:inline-block;  color:#333; overflow:hidden; transition:.2s;}
ul.prev_next li a span					{padding-left:40px; display:inline-block; max-width:95%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
ul.prev_next .no-data					{padding-left:40px; display:inline-block; max-width:95%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;font:400 17px/29px "Noto Sans KR", sans-serif; color:#888;}
ul.prev_next li a:hover span,
ul.prev_next li a:focus span			{text-decoration:underline; color:var(--co01); }


/* 체험단 검색 리스트 expList */
.s_cont .cont_all ul.prd_li02 {display: flex; flex-wrap:wrap; gap:40px 24px;}
.s_cont .cont_all ul.prd_li02 > li {width:calc((100% - 96px) / 5);}

/* 체험단 검색 지역 필터 */
.region {margin-bottom:20px;}
.region .selec_reg {display: flex; flex-wrap:wrap; gap: 20px; align-items:center; margin-bottom: 20px;}
.region .selec_reg h2.sub_tit {margin-bottom:0;}

.search_filter			{display: grid; white-space: nowrap; position: relative; width: calc(100% - 80px);}
.search_filter ul		{display: flex; gap: 6px; overflow-x: auto;}
.search_filter ul li 	{display: flex; align-items: center; gap: 2px; padding: 0 0 0 16px; border: 1px solid #eee; background: #fff; height: 31px; font-size: 13px; border-radius: 50px;}
.search_filter ul li .x				{width: 31px; height: 31px; display: block; background: url('../_img/cont/del.png')no-repeat 0% 50% / 25px;}

.filter_btn			{display: flex; gap: 6px;}
.filter_btn	li a	{display: flex; align-items: center; color: #bbb; border: 1px solid #eee; background: #fff; padding: 0 14px; border-radius: 50px; height: 27px; font-size: 13px; font-weight: 500;}
.filter_btn	li.on a	{color: var(--red); border: 1px solid var(--red);}

ul.reg01{display: flex; flex-wrap:wrap; gap: 10px;}
ul.reg01 li{width: calc((100% - 90px) / 10); cursor:pointer; padding: 10px 0; text-align:center; font:400 16px/20px "Pretendard", "Noto Sans KR", sans-serif; color: #666; background: #f7f7f7; border-radius: 50px;}
ul.reg01 li.current{background: var(--co01); color: #fff;}

.tab_con {display: none; margin:20px 0; border-top: 1px solid #eee;}
.tab_con.current{display: inherit; padding-top: 20px;}

.reg02 {display: flex; flex-wrap:wrap; gap: 8px;}
.reg02 li input[type="checkbox"].n_ck02				{display: none;}
.reg02 li input[type="checkbox"] + label			{display: inline-block; position: relative; padding: 8px 16px; background-color: #f7f7f7; border-radius: 50px; cursor: pointer; user-select: none; color: #666;}
.reg02 li input[type="checkbox"] + label:before	{display: none;}
.reg02 li input[type="checkbox"]:checked + label	{color:#fff; background: var(--co01);}
.reg02 li input[type="checkbox"]:checked + label:before	{content: ''; background:var(--co01);}

.select_wrap {display: flex; flex-wrap:wrap; justify-content: flex-end; gap: 10px; margin-bottom: 20px;}
.select_wrap .sel select {margin-right: 0;}

/* 체험단 검색 상세 expView */
.View_wrap {display: flex; flex-wrap:wrap;}
.View_wrap .View_con {width: calc(100% - 350px); padding-right:40px;}
.View_wrap .View_info {width: 350px; padding-left: 40px; }

.View_top {}
.View_top .v_tit {font-size: 26px; font-weight: 700; color: #222; margin-bottom: 15px;}
.opt {display: flex; flex-wrap:wrap; gap:10px;}
.opt li {}
.opt li.sns_tit {display: flex; flex-wrap:wrap; gap:5px; align-items:center;}
.opt li > p {padding: 5px 10px; border-radius: 50px; font-size: 15px; color: #555; background: #eee;}
.opt li p.op_sns {background:url(../_img/pc/main/sns_yt_ico02.svg)no-repeat center / contain; width:30px; height:30px;}
.opt li p.op_sns.yout {background:url(../_img/pc/main/sns_yt_ico.svg)no-repeat center / contain; width:30px; height:30px;}
.opt li p.op_sns.yout02 {background:url(../_img/pc/main/sns_yt_ico02.svg)no-repeat center / contain; width:30px; height:30px;}
.opt li p.op_sns.nblog  {background:url(../_img/pc/main/sns_na_ico.svg)no-repeat center / contain; width:30px; height:30px;}
.opt li p.op_sns.insta  {background:url(../_img/pc/main/sns_in_ico.svg)no-repeat center / contain; width:30px; height:30px;}
.opt li p.op_num {}
.opt li p.op_cate {}
.opt li p.op_cate02 {}

ul.con_list {}
ul.con_list li {display: flex; flex-wrap: wrap; gap: 20px; padding: 20px 0; border-bottom: 1px solid #eee;}
ul.con_list li .c_tit {font-size: 18px; width: 150px; color:#222; font-weight:600;}
ul.con_list li .clt {width: calc(100% - 170px); color:#666; line-height: 2;}
ul.con_list li .c_info {}
ul.con_list li .c_info .c_ic {}
ul.con_list li p.edit {}
ul.con_list li .tag {display: flex; flex-wrap:wrap; gap: 5px; }
ul.con_list li .tag > em {font-size: 15px; color:#333; padding: 5px 8px; border-radius: 3px; background: #f3f3f3; font-style:normal; display: inline-block; vertical-align:text-top;}

/* 카카오맵 */
ul.con_list li .root_daum_roughmap {border-bottom:1px solid #ddd;}
ul.con_list li .root_daum_roughmap .wrap_controllers {display: none;}
ul.con_list li .root_daum_roughmap .cont {display: none;}

/* 댓글 */
.comment_wrap {}
.comment_wrap .cmt {display: flex; flex-wrap:wrap; gap: 15px; align-items:flex-start; padding: 20px 0;}
.comment_wrap .cmt:not(:last-child) {border-bottom: 1px dashed #eee;}
.comment_wrap .cmt .prop_img {background: url(../_img/pc/cont/user_profile_no.svg)no-repeat center / cover; width: 50px; height: 50px;}
.comment_wrap .cmt .cmt_txt {width:calc(100% - 98px);}
.comment_wrap .cmt .cmt_txt li {font-size: 15px; color:#666;}
.comment_wrap .cmt .cmt_txt li:not(:last-child) {margin-bottom: 5px;}
.comment_wrap .cmt .cmt_txt li.name {font-size: 17px; color:#222; font-weight: 700;}
.comment_wrap .cmt .cmt_txt li.date {color:#999; font-weight: 300;}
.comment_wrap .cmt .modify {display: block; font-size: 0; background: url(../_img/pc/cont/modify_ico.svg)no-repeat center / cover; width: 18px; height: 18px;}

/* 좋아요, 댓글 (아이콘+갯수) */
.cmt_ico {display: flex; flex-wrap:wrap; gap: 30px; padding-bottom:20px; margin-bottom:10px; border-bottom: 1px solid #eee;}
.cmt_ico .cmt01 {display: flex; flex-wrap:wrap; gap: 5px;}
.cmt_ico .cmt01 .like_img {font-size: 0; width: 20px; height:18px; background: url(../_img/pc/cont/like_line.svg)no-repeat center / cover;}
.cmt_ico .cmt01 .comm_img {font-size: 0; width: 18px; height:18px; background: url(../_img/pc/cont/cmt_line.svg)no-repeat center / cover;}
.cmt_ico .cmt01 p {font-size: 16px; color:#666;}
.cmt_ico .cmt01 p > span {font-weight: 600; color: var(--co01);}

/* 수정댓글 입력 */
.modi_cmt {width: calc(100% - 65px); margin-left:auto; text-align:right;}
.modi_cmt > textarea {min-height:100px; background: #fafafa; border: none;}
.modi_cmt > .btn2 {margin:0;}

/* 새 댓글 입력 */
.cmt_ip {text-align:right;}
.cmt_ip textarea {min-height:120px;}
.cmt_ip > .btn {}

.View_info {}
.View_info p.sn_img {width: 310px; height: 210px; background: url(../_img/pc/cont/no_img_view.png)no-repeat center; border-radius: 20px;}
.View_info .sche {position:sticky; top:100px;}
.View_info .sche_tit {font-size: 20px; color:#222; font-weight: 700; margin-bottom: 15px;}
.sche_list {margin-bottom: 20px;}
.sche_list li {display: flex; flex-wrap:wrap; gap: 5px;}
.sche_list li:not(:last-child) {margin-bottom: 8px;}
.sche_list li.point > .sc_tit,
.sche_list li.point > p {font-weight: 700; color: var(--co01);}
.sche_list li.point {font-weight: 700; color: var(--co01) !important;}
.sche_list li .sc_tit {width: 130px; font-weight: 600; position: relative; padding-left: 10px;}
.sche_list li .sc_tit:before {position: absolute; content:''; width: 3px; height: 3px; background: var(--co01); border-radius: 50%; top: 8px; left: 0;}
.sche_list li > p {width:calc(100% - 135px); color:#666;}
.sche_list li > p > span {color: var(--co01);}

.btn_wrap {display: flex; flex-wrap:wrap; gap: 5px;}
.btn_wrap .btn {width: calc(100% - 100px);}
.btn_wrap .v_icon {display: flex; flex-wrap:wrap; gap:5px;}
.btn_wrap .v_icon .ic {width: 45px; height: 45px; font-size: 0;}
.btn_wrap .v_icon .ic.like {background: #fff; border: 1px solid var(--red); color:var(--red);}
.btn_wrap .v_icon .ic.like .like_icon {display: inline-block; vertical-align:middle; background:url(../_img/pc/cont/like_bd.svg)no-repeat center / cover; width: 19px; height: 19px;}
.btn_wrap .v_icon .ic.like .like_icon.on {background:url(../_img/pc/cont/like_on.svg)no-repeat center / cover;}
.btn_wrap .v_icon .ic.link {background: #fff; border: 1px solid var(--co01); color: var(--co01);}
.btn_wrap .v_icon .ic.link .link_icon {display: inline-block; vertical-align:middle; background:url(../_img/pc/cont/share.svg)no-repeat center / cover; width: 20px; height: 20px;}

.btn_wrap.ct {display: flex; flex-wrap:wrap; gap: 10px; justify-content: center;}
.btn_wrap.ct .btn.ct {width: 160px;}

/* 체험단 일정 */
.number_list 					{padding-top: 50px; border-top: 1px dashed #aaa; padding-bottom: 20px;}
.number_list.active				{height: 260px; overflow: hidden; position: relative;}
.number_list.active:after		{content: ''; width: 100%; height: 50px; position: absolute; left: 0; bottom: 0; background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 100%);}
.info_more						{font-size: 15px; height: 50px; cursor: pointer; display: block; width: 100%; background: #f5f5f5; border: 1px solid #ddd; border-radius: 5px; transition: all .2s;}
.info_more:hover				{border: 1px solid #999;}

/* 체험단 일정 리스트 (접었다 펴는부분) */
ol.Onum							{position: relative; counter-reset: circle 0;}
ol.Onum > li					{padding: 8px 0 0 23px; color: #222; position: relative; word-break: keep-all; list-style: none;}
ol.Onum > li:nth-child(1)		{padding-top: 0;}
ol.Onum > li .tit				{margin: 20px 0 10px; font-weight: 500;}
ol.Onum > li .tit:first-child	{margin-top: 0px;}
ol.Onum > li::before			{position: absolute; left: 0; display: inline-block; counter-increment: circle 1; content: counter(circle); width: 15px; height: 15px; border: 1px solid #aaa; border-radius: 50%; text-align: center; color: #555; font-weight: 500; font-size: 13px; line-height: 15px; margin-top: 3px;}
ol.Onum > li + li				{margin-top: 5px;}
ol.Onum_2						{counter-reset: li 0;}
ol.Onum_2 > li					{color: #555; margin-top: 6px;}
ol.Onum_2 > li::before			{font-size: 16px; content: counter(li) ') '; counter-increment: li 1;}

/* 일정 캘린더 */
.Calendar					{border: 1px solid #eee; border-radius: 20px; padding: 25px 20px; overflow: hidden;}
.Calendar .month_box		{display: flex; justify-content: space-between; align-items: center; gap: 20px; margin-bottom: 20px;}
.Calendar .month_box span	{font-size: 19px; font-weight: 700;}
.Calendar .month_box a		{display: block; width: 30px; height: 20px; background: url('../_img/pc/cont/head-left.png') no-repeat 50% 50% / 17px;}
.Calendar .month_box .cla_r	{transform: rotate(-180deg);}
.Calendar .Cal_li			{display: grid; grid-template-columns: repeat(7, 1fr); gap: 10px 8px;}
.Calendar .Cal_li li		{text-align: center; font-size: 13px; color: #777; position: relative;}
.Calendar .Cal_li li:nth-child(-n+7)	{font-weight: 500;}
.Calendar .Cal_li li:nth-child(1),
.Calendar .Cal_li li:nth-child(7n+1) a	{color: var(--red);}
.Calendar .Cal_li li:nth-child(7n),
.Calendar .Cal_li li:nth-child(7n) a	{color: var(--co01);}
.Calendar .Cal_li li a				{display: block; font-size: 13px; line-height:1; color: #777; width: 30px; height: 30px; border-radius: 50px; display: flex; align-items: center; justify-content: center; margin: 0 auto;}
.Calendar .Cal_li li.on a			{background: var(--co01); color: #fff; font-weight: 500;}
.Calendar .Cal_li li.on.red a			{background: var(--red); color: #fff; font-weight: 500;}
.Calendar .Cal_li li.on.blue a			{background: #f3f8ff; color: var(--co01); border: 1px solid var(--co01); font-weight: 500;}
.Calendar .Cal_li li.on.tday a			{background: #ddd; color: #333; font-weight: 500;}
.Calendar .Cal_li li.li_on a		{color: var(--co01) !important; font-weight: 500;}
.Calendar .Cal_li li.li_on:before	{content: ''; width: 18px; height: 2px; display: block; position: absolute; left: calc(50% - 10px); bottom: 0px; background: var(--co01);}
.Calendar .Cal_li li.li_on.on a		{color: #fff !important;}

.Calendar + *	{margin-top: 10px;}

/* 달력 표시 */
ul.cal_point {display: flex; flex-wrap:wrap; gap:10px; padding: 10px 20px;}
ul.cal_point li {display: flex; flex-wrap:wrap; gap: 5px; width:calc((100% - 10px)/2);}
ul.cal_point li span {width: 18px; height: 18px; border-radius: 50%; display: inline-block;}
ul.cal_point li span.cal_on {background: var(--co01);}
ul.cal_point li span.cal_red {background: var(--red);}
ul.cal_point li span.cal_blue {background: #f3f8ff; border: 1px solid var(--co01);}
ul.cal_point li span.cal_tday {background: #ddd;}
ul.cal_point li p {font-Size: 14px; color:#666;} 
ul.cal_point li:nth-child(1) p {color:var(--co01);} 

/* 체험단 신청 */
.apply_wrap {}
.apply_wrap p {color:#666;}
.apply_wrap h4 > span {color:#999;}

/* 개인정보 동의 버튼 */
.prv_cont {padding-left: 30px; color: #999; font-size: 14px; transition: .2s;}
.prv_cont:hover {color:#222;}

/* 주소 입력폼 우편번호 찾기 */
.add_wrap {display: flex; flex-wrap:wrap; gap: 5px;}
.add_wrap > input {width: calc(100% - 120px);}


}

/* Tablet */
@media only screen and (min-width: 640px) and (max-width: 959px) {}

/* Mobile */
@media only screen and (max-width: 639px) {}